.categories {
    background-color: transparent;
    padding: 10px;
    width: 200px;
    position:relative; /* Sabit pozisyon */
    top: auto; /* Navbar yüksekliğine göre ayarla */
    bottom: auto; /* Alt kısma kadar uzanır */
    left: 0; /* Sol kenara yasla */
}

.category-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
/*
.category-item {
    color: white;
    margin-bottom: 10px;

}

.category-item a {
    text-decoration: none;
    color: black;
    font-size: 16px;

}
*/


.btn1{
    
    font-size: larger;
    border: none;
    background-color: #68D2E8;
    color: #EEF7FF;
    border-radius: 4px;
    height: 50px;
    width: 150px;
    margin: 10px 10px 10px 10px  ;

}
.btn1:hover{
    background-color: #EEF7FF;
    color: black;
}
.ttl3{
    color: #fff;
}

