#navbar {
    background-color: #68D2E8; /* Black background color */
    position: sticky  ; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  #navbar a {
    font-size: larger;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    background-color: #68D2E8;
  }
  
  #navbar a:hover {
    background-color: #EEF7FF;
    color: black;
  }

  /*
  #navbar a.split{

  background-color: black;
  color: white;
  position: right 0;


  }
  #navbar a.split:hover{
    background-color: white;
    color: black;
  }
*/