#navbar {
    background-color: black; /* Black background color */
    position: sticky  ; /* Make it stick/fixed */
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
  }
  
  /* Style the navbar links */
  #navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    background-color: black;
  }
  
  #navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  #navbar a.split{
  right: 0%;
  background-color: black;
  color: white;
  position: right 0;

  }
  #navbar a.split:hover{
    background-color: white;
    color: black;
    position: right 0;
  }
