.container {
  display: grid;
  grid-template-rows: auto 1fr; /* Navbar ve alt bölüm için satır boyutları */
  grid-template-columns: 200px 1fr; /* Kategori listesi ve kartlar için sütun boyutları */
  height: 100vh; /* Tüm ekranı kaplaması için */
}

.navbar {
  grid-column: 1 / -1; /* Navbar'ın tüm genişliğe yayılması */
  position: sticky;
  margin-bottom: 10px;
  width: 100%;
  transition: top 0.3s;
  background-color: black;
}

.categories {
  grid-column: 1; /* İlk sütunda yer alacak */
  position: sticky;
}

.cards {
  grid-column: 2; /* İkinci sütunda yer alacak */
}
